# Reading Cryptocurrency Dataset

The dataset has one csv file for each currency. Price history is available on a daily basis from April 28, 2013. This dataset has the historical price information of some of the top crypto currencies by market capitalization. The currencies included are:
* Bitcoin
* Ethereum
* Ripple
* Bitcoin cash
* Bitconnect
* Dash
* Ethereum Classic
* Iota
* Litecoin
* Monero
* Nem
* Neo
* Numeraire
* Stratis
* Waves

Where each one is composed by:
* Date: date of observation
* Open: Opening price on the given day
* High: Highest price on the given day
* Low: Lowest price on the given day
* Close: Closing price on the given day
* Volume: Volume of transactions on the given day
* Market Cap: Market capitalization in USD

There are 2 more datasets (Bitcoin Dataset and Ethereum Dataset) that they have different columns then the others.

## Notebook Technologies

To read each CSV file we are going to make use of a single library named `pandas` \[1\].

`pandas` is an Open Source Python package that provides fast, flexible, and expressive data structures especially though to handle tabular data such as CSV files, SQL Tables, etc.

## Loading the data

In [1]:
from pathlib import Path

import pandas as pd

In [2]:
DATA_PATH = Path('../../data')

In order to open each csv file we used the `read_csv` function provided by `pandas` for each file in `cryptocurrency` folder.

In [3]:
df = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'bitcoin_cash_price.csv')
df1 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'bitcoin_dataset.csv')
df2 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'bitcoin_price.csv')
df3 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'bitconnect_price.csv')
df4 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'dash_price.csv')
df5 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'ethereum_classic_price.csv')
df6 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'ethereum_dataset.csv')
df7 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'ethereum_price.csv')
df8 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'iota_price.csv')
df9 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'litecoin_price.csv')
df10 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'monero_price.csv')
df11 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'nem_price.csv')
df12 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'neo_price.csv')
df13 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'numeraire_price.csv')
df14 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'omisego_price.csv')
df15 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'qtum_price.csv')
df16 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'ripple_price.csv')
df17 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'stratis_price.csv')
df18 = pd.read_csv(DATA_PATH / 'raw' / 'cryptocurrencypricehistory' / 'waves_price.csv')

For each table, we will see two methods to view the data of each one: The first one, the method `head` what is provided by `pandas.DataFrame` which allows us to preview the first $n$ rows of our tabular data. The second one, the `sample` method, that contrary to the head method, it randomly samples $n$ elements.

### Bitcoin_cash_price.csv

In [4]:
df.head()

           Date    Open    High     Low   Close       Volume      Market Cap
0  Sep 05, 2017  514.90  550.95  458.78  541.71  338,978,000   8,527,100,000
1  Sep 04, 2017  608.26  608.26  500.75  517.24  328,957,000  10,072,200,000
2  Sep 03, 2017  578.27  617.41  563.59  607.43  344,862,000   9,574,520,000
3  Sep 02, 2017  621.96  642.05  560.58  575.90  350,478,000  10,297,000,000
4  Sep 01, 2017  588.40  645.52  586.73  622.17  393,839,000   9,740,460,000

In [5]:
df.sample(5)

,Date,Open,High,Low,Close,Volume,Market Cap
14,"Aug 22, 2017",596.19,734.88,570.27,690.88,"1,393,260,000","9,844,620,000"
21,"Aug 15, 2017",298.19,306.52,292.88,297.86,"133,924,000","4,917,480,000"
19,"Aug 17, 2017",301.02,460.53,293.10,460.53,"744,605,000","4,964,980,000"
6,"Aug 30, 2017",549.32,604.69,535.92,575.21,"443,856,000","9,092,300,000"
3,"Sep 02, 2017",621.96,642.05,560.58,575.90,"350,478,000","10,297,000,000"

### bitcoin_dataset.csv

In [6]:
df1.head()

,Date,btc_market_price,btc_total_bitcoins,btc_market_cap,btc_trade_volume,btc_blocks_size,btc_avg_block_size,btc_n_orphaned_blocks,btc_n_transactions_per_block,btc_median_confirmation_time,...,btc_cost_per_transaction_percent,btc_cost_per_transaction,btc_n_unique_addresses,btc_n_transactions,btc_n_transactions_total,btc_n_transactions_excluding_popular,btc_n_transactions_excluding_chains_longer_than_100,btc_output_volume,btc_estimated_transaction_volume,btc_estimated_transaction_volume_usd
0,2009-01-03 00:00:00,0.0,50.0,0.0,0.0,0.0,0.000285,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,50.0,0.0,0.0
1,2009-01-05 00:00:00,0.0,50.0,0.0,0.0,0.0,0.000000,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2009-01-07 00:00:00,0.0,50.0,0.0,0.0,0.0,0.000000,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,2009-01-09 00:00:00,0.0,750.0,0.0,0.0,0.0,0.000215,0.0,1.0,0.0,...,0.0,0.0,14.0,14.0,15.0,14.0,14.0,700.0,0.0,0.0
4,2009-01-11 00:00:00,0.0,7600.0,0.0,0.0,0.0,0.000215,0.0,1.0,0.0,...,0.0,0.0,106.0,106.0,152.0,106.0,106.0,5300.0,0.0,0.0

In [7]:
df1.sample(5)

,Date,btc_market_price,btc_total_bitcoins,btc_market_cap,btc_trade_volume,btc_blocks_size,btc_avg_block_size,btc_n_orphaned_blocks,btc_n_transactions_per_block,btc_median_confirmation_time,...,btc_cost_per_transaction_percent,btc_cost_per_transaction,btc_n_unique_addresses,btc_n_transactions,btc_n_transactions_total,btc_n_transactions_excluding_popular,btc_n_transactions_excluding_chains_longer_than_100,btc_output_volume,btc_estimated_transaction_volume,btc_estimated_transaction_volume_usd
285,2010-07-27 00:00:00,0.00,3533800.0,0.000000e+00,2.024214e+02,1.000000,0.001367,0.0,1.000000,0.000000,...,13.781853,0.000000,551.0,445.0,93396.0,445.0,445.0,8.343172e+04,63497.000000,0.000000e+00
528,2011-11-25 00:00:00,2.56,7737750.0,1.980864e+07,1.120438e+05,557.000000,0.017192,0.0,43.000000,0.000000,...,3.662689,3.097819,9336.0,5374.0,1916889.0,3973.0,4687.0,6.763497e+05,177547.000000,4.545210e+05
1148,2015-04-18 00:00:00,222.32,14066550.0,3.127275e+09,9.786034e+06,33722.000000,0.413204,5.0,777.000000,9.416667,...,2.019557,7.385297,225102.0,100484.0,65953867.0,89058.0,50830.0,8.885950e+05,165284.000000,3.674589e+07
113,2009-08-17 00:00:00,0.00,1068700.0,0.000000e+00,0.000000e+00,0.000000,0.000216,0.0,1.000000,0.000000,...,0.000000,0.000000,17.0,17.0,21513.0,17.0,17.0,8.500000e+02,0.000000,0.000000e+00
1340,2016-05-06 00:00:00,460.91,15514600.0,7.150834e+09,NaN,67403.422557,0.685889,0.0,1439.703704,6.516667,...,1.257261,8.091535,375533.0,233232.0,127239486.0,200750.0,138531.0,2.321256e+06,325669.746514,1.501044e+08

### bitcoin_price.csv

In [8]:
df2.head()

           Date     Open     High      Low    Close      Volume   Market Cap
0  Sep 05, 2017  4228.29  4427.84  3998.11  4376.53  2697970000  69954400000
1  Sep 04, 2017  4591.63  4591.63  4108.40  4236.31  2987330000  75955500000
2  Sep 03, 2017  4585.27  4714.08  4417.59  4582.96  1933190000  75841700000
3  Sep 02, 2017  4901.42  4975.04  4469.24  4578.77  2722140000  81060600000
4  Sep 01, 2017  4701.76  4892.01  4678.53  4892.01  2599080000  77748400000

In [9]:
df2.sample(5)

             Date    Open     High     Low    Close     Volume   Market Cap
461  Jun 01, 2016  531.11   543.08  525.64   536.92   86061800   8288680000
206  Feb 11, 2017  988.90  1009.29  982.83  1004.45  102261000  15976700000
424  Jul 08, 2016  640.69   666.71  636.47   666.52  141970000  10086900000
848  May 11, 2015  240.30   244.27  239.38   242.16   20892300   3399290000
904  Mar 16, 2015  285.69   294.11  285.69   290.59   21516100   3983760000

### bitconnect_price.csv

In [10]:
df3.head()

           Date    Open    High     Low   Close      Volume   Market Cap
0  Sep 05, 2017  114.74  131.57  108.93  129.42   8,537,600  756,793,000
1  Sep 04, 2017  128.26  129.55  110.68  114.13  30,395,600  845,031,000
2  Sep 03, 2017  131.71  135.06  125.87  130.99   5,244,490  866,869,000
3  Sep 02, 2017  141.11  142.80  128.00  131.33   5,056,030  926,918,000
4  Sep 01, 2017  135.66  140.97  133.47  140.97   7,854,700  890,229,000

In [11]:
df3.sample(5)

             Date    Open    High     Low   Close     Volume   Market Cap
178  Mar 11, 2017    1.65    2.04    1.65    1.88    329,288    8,976,540
5    Aug 31, 2017  135.60  136.88  132.24  135.63  6,633,480  888,920,000
79   Jun 18, 2017   51.02   51.62   50.50   50.90  1,066,710  343,305,000
166  Mar 23, 2017    1.83    2.08    1.78    2.02    244,700   10,431,300
114  May 14, 2017    8.49    8.88    8.15    8.79    397,657   54,087,400

### dash_price.csv

In [12]:
df4.head()

           Date    Open    High     Low   Close      Volume     Market Cap
0  Sep 05, 2017  316.88  333.83  286.53  327.23  53,928,800  2,388,710,000
1  Sep 04, 2017  356.94  357.21  301.84  316.13  44,170,200  2,689,920,000
2  Sep 03, 2017  354.63  373.08  338.23  356.39  34,945,200  2,670,270,000
3  Sep 02, 2017  393.53  395.92  329.27  350.17  54,813,400  2,962,400,000
4  Sep 01, 2017  377.92  393.35  376.34  393.35  55,440,700  2,844,110,000

In [13]:
df4.sample(5)

              Date    Open    High     Low   Close      Volume     Market Cap
1029  Nov 11, 2014    2.54    2.65    2.38    2.43     193,795     12,292,600
285   Nov 24, 2016    8.44    9.14    8.34    9.13     929,254     58,260,600
617   Dec 28, 2015    2.64    3.05    2.63    2.98      88,281     16,067,600
898   Mar 22, 2015    4.64    4.83    4.32    4.61     342,711     24,218,700
96    Jun 01, 2017  136.47  147.94  131.64  136.08  46,692,500  1,000,300,000

### ethereum_classic_price.csv

In [14]:
df5.head()

           Date   Open   High    Low  Close       Volume     Market Cap
0  Sep 05, 2017  15.82  16.85  14.30  16.58  218,190,000  1,506,490,000
1  Sep 04, 2017  18.54  18.71  15.37  15.84  243,535,000  1,764,650,000
2  Sep 03, 2017  20.18  20.47  18.07  18.57  221,986,000  1,920,050,000
3  Sep 02, 2017  22.04  23.68  18.18  20.08  648,787,000  2,096,550,000
4  Sep 01, 2017  16.40  22.45  16.32  21.94  821,440,000  1,559,510,000

In [15]:
df5.sample(5)

             Date   Open   High    Low  Close       Volume     Market Cap
185  Mar 04, 2017   1.44   1.48   1.40   1.43    2,412,650    128,748,000
2    Sep 03, 2017  20.18  20.47  18.07  18.57  221,986,000  1,920,050,000
394  Aug 07, 2016   2.70   2.74   2.06   2.15   31,153,900    222,683,000
96   Jun 01, 2017  17.62  17.94  16.63  16.83  129,554,000  1,624,040,000
8    Aug 28, 2017  16.09  16.46  15.65  15.79   96,308,800  1,527,600,000

### ethereum_dataset.csv

In [16]:
df6.head()

,Date(UTC),UnixTimeStamp,eth_etherprice,eth_tx,eth_address,eth_supply,eth_marketcap,eth_hashrate,eth_difficulty,eth_blocks,eth_uncles,eth_blocksize,eth_blocktime,eth_gasprice,eth_gaslimit,eth_gasused,eth_ethersupply,eth_chaindatasize,eth_ens_register
0,7/30/2015,1438214400,0.0,8893,9205,7.204931e+07,0.0,23.7569,0.121,6912,1299,644,4.46,0,0,0,39316.09375,NaN,NaN
1,7/31/2015,1438300800,0.0,0,9361,7.208550e+07,0.0,48.1584,0.603,6863,511,582,12.58,0,0,0,36191.71875,NaN,NaN
2,8/1/2015,1438387200,0.0,0,9476,7.211320e+07,0.0,55.2709,0.887,5293,334,575,16.34,0,0,0,27705.93750,NaN,NaN
3,8/2/2015,1438473600,0.0,0,9563,7.214143e+07,0.0,64.1779,1.020,5358,394,581,16.12,0,0,0,28223.43750,NaN,NaN
4,8/3/2015,1438560000,0.0,0,9639,7.216940e+07,0.0,69.8559,1.126,5280,443,587,16.37,0,0,0,27976.71875,NaN,NaN

In [17]:
df6.sample(5)

,Date(UTC),UnixTimeStamp,eth_etherprice,eth_tx,eth_address,eth_supply,eth_marketcap,eth_hashrate,eth_difficulty,eth_blocks,eth_uncles,eth_blocksize,eth_blocktime,eth_gasprice,eth_gaslimit,eth_gasused,eth_ethersupply,eth_chaindatasize,eth_ens_register
690,6/19/2017,1497830400,358.20,286209,3292231,9.263178e+07,33180.703719,48994.2646,775.466,5334,523,8956,16.00,21054562068,4707483,13844965069,28632.96875,NaN,1734.0
233,3/19/2016,1458345600,10.45,34779,124108,7.826018e+07,817.818903,1376.7015,18.652,6082,494,1494,13.70,29326753003,4713287,1260165166,32078.43750,NaN,NaN
694,6/23/2017,1498176000,326.85,276012,3499011,9.273728e+07,30311.178752,50863.8817,881.532,4890,436,9123,17.53,40960227374,4711232,12816221982,26102.50000,NaN,2498.0
534,1/14/2017,1484352000,9.77,42044,981025,8.790515e+07,858.833342,7334.4015,102.517,6067,328,1499,14.18,22409886093,4005799,1276527305,31478.12500,NaN,NaN
401,9/3/2016,1472860800,11.91,44792,571037,8.362636e+07,995.989983,4789.3796,68.510,5949,438,1513,14.53,22180114518,4708902,1231580684,31495.93750,NaN,NaN

### ethereum_price.csv

In [18]:
df7.head()

           Date    Open    High     Low   Close         Volume      Market Cap
0  Sep 05, 2017  297.57  318.57  268.29  312.99  1,551,050,000  28,100,000,000
1  Sep 04, 2017  347.13  347.13  279.94  295.17  1,801,690,000  32,774,000,000
2  Sep 03, 2017  350.23  366.49  332.23  347.48    986,266,000  33,059,800,000
3  Sep 02, 2017  387.82  389.35  328.10  348.98  1,483,600,000  36,601,200,000
4  Sep 01, 2017  383.47  390.04  383.47  387.74    874,222,000  36,182,900,000

In [19]:
df7.sample(5)

             Date    Open    High     Low   Close       Volume      Market Cap
2    Sep 03, 2017  350.23  366.49  332.23  347.48  986,266,000  33,059,800,000
220  Jan 28, 2017   10.54   10.58   10.43   10.56    6,580,700     930,688,000
11   Aug 25, 2017  326.11  336.40  325.80  331.92  760,329,000  30,727,900,000
199  Feb 18, 2017   12.71   12.83   12.68   12.81    9,370,010   1,130,750,000
421  Jul 11, 2016   10.94   11.01   10.26   10.46   13,098,000     895,670,000

### iota_price.csv

In [ ]:
df8.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Sep 05, 2017",0.544132,0.646085,0.468949,0.613085,"45,817,500","1,512,430,000"
1,"Sep 04, 2017",0.744257,0.744257,0.406795,0.566472,"74,601,300","2,068,680,000"
2,"Sep 03, 2017",0.698855,0.775863,0.672850,0.743968,"29,504,600","1,942,490,000"
3,"Sep 02, 2017",0.796560,0.802464,0.658006,0.695547,"39,333,900","2,214,060,000"
4,"Sep 01, 2017",0.842867,0.879100,0.768119,0.807778,"28,047,000","2,342,770,000"

In [21]:
df8.sample(5)

,Date,Open,High,Low,Close,Volume,Market Cap
22,"Aug 14, 2017",0.811738,0.976404,0.793682,0.976404,"54,630,900","2,256,250,000"
1,"Sep 04, 2017",0.744257,0.744257,0.406795,0.566472,"74,601,300","2,068,680,000"
33,"Aug 03, 2017",0.286578,0.336844,0.284765,0.332352,"8,239,810","796,552,000"
77,"Jun 20, 2017",0.414299,0.422032,0.398649,0.418494,"3,755,470","1,151,560,000"
35,"Aug 01, 2017",0.256665,0.296267,0.249623,0.290220,"5,169,910","713,408,000"

### litecoin_price.csv

In [22]:
df9.head()

           Date   Open   High    Low  Close      Volume  Market Cap
0  Sep 05, 2017  65.25  72.44  59.05  71.29  1016090000  3444150000
1  Sep 04, 2017  76.73  76.73  61.24  65.21   922041000  4049140000
2  Sep 03, 2017  78.98  82.83  73.61  76.84   675462000  4166600000
3  Sep 02, 2017  85.83  92.07  72.23  79.02  1363990000  4526680000
4  Sep 01, 2017  70.86  87.41  70.01  86.04  1551740000  3735870000

In [23]:
df9.sample(5)

              Date  Open  High   Low  Close    Volume  Market Cap
710   Sep 26, 2015  2.89  2.90  2.87   2.89    531617   122875000
1584  May 05, 2013  3.49  3.69  3.35   3.59         -    60525000
409   Jul 23, 2016  4.04  4.06  4.03   4.06   1568890   189102000
255   Dec 24, 2016  4.65  4.77  4.42   4.55  19773600   227716000
990   Dec 20, 2014  2.87  2.94  2.87   2.92   2591650    99946000

### monero_price.csv

In [24]:
df10.head()

           Date    Open    High     Low   Close     Volume  Market Cap
0  Sep 05, 2017  106.75  122.63   95.81  118.82  113378000  1605070000
1  Sep 04, 2017  126.23  126.23  101.73  106.17   89194700  1897480000
2  Sep 03, 2017  124.93  129.29  115.74  126.01   92631100  1877380000
3  Sep 02, 2017  141.35  141.40  121.96  124.80  128849000  2123430000
4  Sep 01, 2017  140.65  150.09  136.49  141.20  163961000  2112260000

In [25]:
df10.sample(5)

              Date      Open      High       Low     Close  Volume  Market Cap
463   May 30, 2016  0.880528  0.919046  0.876059  0.910537   66482    10573600
1193  May 30, 2014  1.680000  1.870000  1.080000  1.570000  119296     1742630
1131  Aug 01, 2014  2.570000  2.670000  2.490000  2.670000  145177     6361190
599   Jan 15, 2016  0.485673  0.489764  0.428456  0.428456   43534     5197330
567   Feb 16, 2016  0.791869  1.000000  0.770798  0.935744  846371     8732960

### nem_price.csv

In [26]:
df11.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Sep 05, 2017",0.276383,0.292048,0.250638,0.286227,"7,635,410","2,487,450,000"
1,"Sep 04, 2017",0.307735,0.310661,0.256488,0.273220,"9,299,200","2,769,620,000"
2,"Sep 03, 2017",0.298170,0.320628,0.285382,0.307264,"7,413,990","2,683,530,000"
3,"Sep 02, 2017",0.331627,0.332056,0.283507,0.295884,"9,560,410","2,984,640,000"
4,"Sep 01, 2017",0.336602,0.337780,0.312575,0.332310,"12,082,700","3,029,420,000"

In [27]:
df11.sample(5)

,Date,Open,High,Low,Close,Volume,Market Cap
12,"Aug 24, 2017",0.250082,0.270494,0.248789,0.265512,"10,249,000","2,250,740,000"
813,"Jun 15, 2015",0.000155,0.000165,0.000147,0.000147,"9,550","1,396,540"
824,"Jun 04, 2015",0.000177,0.000179,0.000171,0.000172,"2,220","1,595,180"
307,"Nov 02, 2016",0.003829,0.003895,0.003736,0.003749,"31,717","34,460,900"
570,"Feb 13, 2016",0.000606,0.000624,0.000532,0.000566,"21,921","5,455,420"

### neo_price.csv

In [28]:
df12.head()

           Date   Open   High    Low  Close       Volume     Market Cap
0  Sep 05, 2017  21.88  23.85  18.93  22.80   91,402,300  1,093,860,000
1  Sep 04, 2017  30.44  30.44  17.40  21.83  189,917,000  1,522,090,000
2  Sep 03, 2017  31.77  32.65  28.58  30.32   43,232,300  1,588,690,000
3  Sep 02, 2017  31.69  34.81  28.55  31.72   92,722,600  1,584,390,000
4  Sep 01, 2017  33.17  33.57  28.87  32.01   75,418,900  1,658,680,000

In [29]:
df12.sample(5)

,Date,Open,High,Low,Close,Volume,Market Cap
53,"Jul 14, 2017",6.270000,6.290000,5.420000,5.540000,"12,351,000","313,433,000"
269,"Dec 10, 2016",0.130952,0.132206,0.124770,0.125328,"37,027","6,547,600"
239,"Jan 09, 2017",0.132630,0.133670,0.117667,0.123767,"90,000","6,631,500"
349,"Sep 21, 2016",0.312539,0.318675,0.303564,0.303794,156,-
262,"Dec 17, 2016",0.114445,0.115568,0.101740,0.105842,"62,650","5,722,250"

### numeraire_price.csv

In [30]:
df13.head()

           Date   Open   High    Low  Close     Volume  Market Cap
0  Sep 05, 2017  20.87  23.62  18.91  21.53    349,885  26,115,800
1  Sep 04, 2017  26.91  27.34  17.99  20.74    716,231  33,673,500
2  Sep 03, 2017  27.70  29.36  24.99  26.90    493,926  34,662,300
3  Sep 02, 2017  32.49  33.01  26.79  27.24    633,861  40,658,600
4  Sep 01, 2017  35.67  35.90  31.35  32.45  1,024,920  44,636,600

In [31]:
df13.sample(5)

            Date   Open   High    Low  Close     Volume  Market Cap
16  Aug 20, 2017  34.73  43.36  32.52  42.53  1,894,140  43,499,200
9   Aug 27, 2017  35.16  36.33  34.05  35.53    372,296  44,033,500
25  Aug 11, 2017  26.46  41.47  26.06  33.64  3,202,390  33,143,700
7   Aug 29, 2017  36.12  36.84  34.43  34.92    489,247  45,236,000
15  Aug 21, 2017  42.41  48.73  33.48  34.58  2,145,180  53,121,100

### omisego_price.csv

In [32]:
df14.head()

           Date   Open   High    Low  Close       Volume     Market Cap
0  Sep 05, 2017   8.68  11.28   7.60  10.98  111,430,000    852,870,000
1  Sep 04, 2017  10.55  10.55   7.31   8.78  159,979,000  1,037,440,000
2  Sep 03, 2017  10.79  11.37   9.64  10.57   68,616,800  1,060,760,000
3  Sep 02, 2017  11.99  11.99   9.96  10.80   93,561,000  1,178,610,000
4  Sep 01, 2017  11.73  12.52  11.63  11.97   91,962,400  1,153,390,000

In [33]:
df14.sample(5)

            Date  Open  High   Low  Close      Volume   Market Cap
8   Aug 28, 2017  8.33  8.93  8.15   8.59  52,390,300  819,005,000
24  Aug 12, 2017  7.20  7.40  5.83   6.19  87,590,300  707,779,000
12  Aug 24, 2017  8.20  8.39  7.97   8.37  31,284,200  806,267,000
16  Aug 20, 2017  7.76  8.84  7.17   8.44  74,687,700  762,542,000
22  Aug 14, 2017  6.88  7.38  6.25   7.02  85,191,300  676,804,000

### qtum_price.csv

In [34]:
df15.head()

           Date   Open   High    Low  Close       Volume     Market Cap
0  Sep 05, 2017  11.07  12.07   8.77  11.71  218,917,000    653,177,000
1  Sep 04, 2017  15.29  15.44  10.22  10.98  161,203,000    902,407,000
2  Sep 03, 2017  16.41  16.74  14.19  15.29   98,105,400    967,971,000
3  Sep 02, 2017  18.26  19.06  15.51  16.39  123,479,000  1,077,370,000
4  Sep 01, 2017  17.30  18.47  16.94  18.26   73,618,500  1,020,980,000

In [35]:
df15.sample(5)

            Date   Open   High    Low  Close       Volume   Market Cap
24  Aug 12, 2017  14.73  15.47  12.85  13.90   59,321,200  868,962,000
16  Aug 20, 2017  11.54  12.35  10.82  11.79   40,638,800  680,885,000
18  Aug 18, 2017  13.09  13.09  11.00  11.63   43,226,400  772,302,000
17  Aug 19, 2017  11.62  12.36   9.69  11.64   54,327,300  685,316,000
0   Sep 05, 2017  11.07  12.07   8.77  11.71  218,917,000  653,177,000

### ripple_price.csv

In [36]:
df16.head()

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Sep 05, 2017",0.205110,0.218674,0.190232,0.215189,"242,636,000","7,864,700,000"
1,"Sep 04, 2017",0.228781,0.228781,0.195960,0.204968,"239,613,000","8,772,340,000"
2,"Sep 03, 2017",0.227229,0.236443,0.218662,0.228811,"186,526,000","8,712,840,000"
3,"Sep 02, 2017",0.249348,0.249680,0.217774,0.226669,"329,928,000","9,560,940,000"
4,"Sep 01, 2017",0.255803,0.256162,0.243833,0.248479,"283,576,000","9,808,460,000"

In [37]:
df16.sample(5)

,Date,Open,High,Low,Close,Volume,Market Cap
1142,"Jul 21, 2014",0.005383,0.005395,0.005327,0.005362,"136,967","42,080,500"
1027,"Nov 13, 2014",0.005128,0.005297,0.004910,0.005035,"486,595","148,656,000"
642,"Dec 03, 2015",0.004176,0.004304,0.004173,0.004262,"139,104","140,043,000"
1267,"Mar 18, 2014",0.014102,0.014122,0.013656,0.014050,"87,514","110,251,000"
865,"Apr 24, 2015",0.008018,0.008101,0.007935,0.008077,"446,330","255,848,000"

### stratis_price.csv

In [38]:
df17.head()

           Date  Open  High   Low  Close      Volume   Market Cap
0  Sep 05, 2017  5.79  6.23  5.11   6.03   8,514,110  570,643,000
1  Sep 04, 2017  6.61  6.74  5.35   5.77  14,669,700  651,334,000
2  Sep 03, 2017  6.36  6.59  5.99   6.59   8,487,740  626,826,000
3  Sep 02, 2017  7.27  7.27  6.18   6.34  11,500,400  716,038,000
4  Sep 01, 2017  7.28  7.78  6.97   7.25  22,610,800  717,199,000

In [39]:
df17.sample(5)

,Date,Open,High,Low,Close,Volume,Market Cap
368,"Sep 02, 2016",0.022095,0.02480,0.021984,0.023228,"21,842","2,166,520"
104,"May 24, 2017",3.050000,3.43000,2.850000,3.000000,"11,021,500","300,580,000"
25,"Aug 11, 2017",8.070000,8.25000,7.450000,7.580000,"24,356,200","794,844,000"
258,"Dec 21, 2016",0.067623,0.06904,0.057460,0.061459,"116,647","6,640,440"
73,"Jun 24, 2017",8.410000,8.56000,7.470000,7.690000,"9,579,230","828,315,000"

### waves_price.csv

In [40]:
df18.head()

           Date  Open  High   Low  Close     Volume   Market Cap
0  Sep 05, 2017  4.68  5.10  4.32   4.98  6,194,560  467,862,000
1  Sep 04, 2017  5.20  5.21  4.24   4.66  8,324,540  519,570,000
2  Sep 03, 2017  5.27  5.50  4.99   5.20  5,174,780  526,827,000
3  Sep 02, 2017  5.78  5.87  5.07   5.23  6,608,910  577,688,000
4  Sep 01, 2017  5.95  6.10  5.72   5.74  9,556,080  595,498,000

In [41]:
df18.sample(5)

,Date,Open,High,Low,Close,Volume,Market Cap
196,"Feb 21, 2017",0.246123,0.249467,0.216913,0.220769,"91,137","24,612,300"
166,"Mar 23, 2017",0.275336,0.278885,0.265831,0.272720,"144,537","27,533,600"
218,"Jan 30, 2017",0.239089,0.241631,0.232170,0.232355,"35,015","23,908,900"
65,"Jul 02, 2017",3.700000,3.710000,3.510000,3.620000,"2,239,090","369,637,000"
216,"Feb 01, 2017",0.225868,0.242263,0.225868,0.234411,"24,365","22,586,800"

## References

\[1\] [Pandas Documentation](https://pandas.pydata.org/docs/)